@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;700;900&display=swap');

.header {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 900;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;

  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 300;
  font-size: 20px;

}

.list-items {
  padding: 15px;
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  color: white;
  background-color: greenyellow;

  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: Bold 700;
  font-size: 20px;
}

#input-label  {
  margin-right: 10px;
}

#input-field {
  
  color: grey;
}
